<div class="navbar navbar-expand-sm navbar-light navbar-ets fixed-top">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "/menu-bar.svg", id: "menu-bar" %>
  <% end %>

  <div class="link-pages">
    <%= link_to "Bio / Studio", bio_path, class: "link-font", style: "margin-right: 30px;"  %>
    <%= link_to "Keep in touch", contact_path, class: "link-font" %>
  </div>

</div>
