<div class="container-lg">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0">
      <div class="container col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0">
        <%= image_tag "/home-banner.svg", alt: "Home Banner", class: "home-banner" %>
      </div>

      <div class="container card-showreel col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="row" style="align-content: center;">
          <!-- <div class="col-sm12 col-md-12 col-lg-12 col-xl-12"> -->
      <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            showreel
          </button>

          <!-- </div> -->
          <%= render 'shared/modal' %>
        </div>
      </div>



    </div>
  </div>
</div>


