.btn-primary a {
  color: $white;

  &:hover {
    text-decoration: none;
    color: $light-purple;
    transition: 0.1s;
  }
}

.btn-showreel {
    height: 40px;
    width: 200px;
    align-self: center;
}
