.modal-content {
  margin: 8px;
  align-self: center;
  width: 90%;
}

.modal-dialog {
  margin: 0px !important;
}

@media (min-width: 576px) {
  .modal-dialog {
      max-width: 100%;
      margin: 1.75rem auto;
  }
}

.modal-body {
  padding: 8px;
  background: $gray;
}

.modal-header {
  height: 21px;
  background: $gray;
  border: none;
  padding: 18px;
  align-items: center;
}

